style.css

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FONT CSS */
html {
  min-height:100%;
}

body{
    font-family: "work sans", sans-serif;
    font-size: 1em;
    line-height: 120%;
    font-weight:400;
    color:#000;
    background-color: #fff;
}
p {
  font-family:"Work Sans";
}
@media screen and (max-width:400px){
  p {
    margin-left:5%!important;
  }
}
b {
  color:#3FB5E5;
}
h1{
    font-family: 'Karla', sans-serif;
    font-size: 1.5em;
    line-height: 200%;
    font-weight:800;
    color:#000;
    text-align: center;
}
@media screen and (max-width:600px){
  h1 {
    margin-top:8%;
    padding: auto 5% auto 5%;
  }
}
h2 {
  font-size: 1em;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h3{
    font-size: 1em;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom:3px solid gainsboro;
    padding-bottom:3px;
}
h4{
    font-size:1em;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:steelblue;
    margin:-1%;
}
h5{
    font-family: 'Karla', sans-serif;
    font-size: 1.5em;
    line-height: 200%;
    font-weight:800;
    color:#CD5C5C;
    text-align: center;
}
ul{
    list-style-type: square;
    padding-left:15px;
}
a{
    color:black;
    text-decoration:none;
    font-weight:600;
    margin:0px -5px 0px -3px;
}

a:active, a:visited{
    color:black;
    text-decoration:none;
    font-weight:600;
}
a:hover.skyblue {
    color:#3FB5E5;
    text-decoration:underline;
}
a:hover.meatbrown{
    color:#e5c169;
}
a:hover.jet{
    color:#2f5e7c;
}
blockquote{
    background:#f3f3f3;
    padding:10px;
    border-left:#59595d solid 10px;
    margin: 5px 10px 5px 10px;
    font-size:90%;
    line-height:150%;
}
.attribution{
    float: right;
    text-transform:uppercase;
    padding-bottom:5px;
}
.tag{
    font:'Work Sans',sans-serif;
    text-transform:uppercase;
    color:#fff;
    font-weight:400;
    font-size:.75em;
}
#logo {
  padding:10%!important;
  margin:-20%!important;
}
@media screen and (max-width:1000px){
  #logo {
    padding:40% 5% 3% 15%!important;
    margin:-20%;
  }
}
@media screen and (max-width:500px){
  #logo {
    padding:40% 20% 3% 0%!important;
    margin:-20%;
  }
}
/*~~~~~~~~~~~~~~~~~~~FADEIN ANIMATION~~~~~~~~~~~~~~~~~~~~~*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fade-in.two {
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay:1.0s;
  animation-delay: 1.0s;
}

.fade-in.three {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SCROLLBAR CSS */
::-webkit-scrollbar-track{
	background-color:none;
}
::-webkit-scrollbar{
	width:10px;
	background-color:none;
}
::-webkit-scrollbar-thumb
{
	background-color:#000;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN BODY STRUCTURE CSS */

.bodycontainer{
    width:100%;
    padding-top:5%;
    font-size:.8em;
}
.topnav{
    position:fixed;
    top:0;
    width:96%;
    z-index: 999;
    font-size:100%;
    font-family: 'Karla', sans-serif;
    text-align:left;
    font-weight:800;
    padding: 1% 1% 1% 1%;
}
.topnav a:hover {
  color:steelblue!important;
}
@media screen and (max-width:600){
.topnav{
    position:fixed;
    top:0;
    width:96%;
    z-index: 999;
    font-size:100%;
    font-family: 'Karla', sans-serif;
    text-align:left;
    font-weight:800;
  }
}


.body{
    width:77%;
    margin: 1% 30% 5% 30%;
    text-align:center;
}
@media screen and (max-width:800px) {
  .body {
    margin:1% 30% 0% 21%;
    text-align:center;
  }
  /*p {
    margin:auto 40% auto -20%;
  }*/
}

@media screen and (max-width:600px;) {
  .body {
    margin:0% 20% 0% 20%;
    text-align:center;
  }
}
.grid{
    width:80%;
    margin-left:10%;
    background-color:transparent;
}
@media screen and (max-width:400px){
  .grid{
    margin-left:15%!important;
  }
}


input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}
label {
    display: inline-block;
    font-size:1.075em;
    font-family: 'Karla', sans-serif;
    text-align:left;
    font-weight:800;
    margin: 0% -2% -2% 0%;
}
@media screen and (max-width:800px) {
  label {
    margin:0% -2% -2% -1%;
  }
}
@media screen and (max-width:400px) {
  label {
    margin: -1% -2% -2% -5%;
  }
}
.contact {
    opacity:0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    position:fixed;
    background-color: #000;
    color:#fff;
    padding: 1.4em;
    min-width:150px;
    margin-top:1em;
    margin-left:78%;
    font-size:.7em;
    font-weight:400;
    font-family: 'Work Sans', sans-serif;
    line-height:2em;
}
input[type=checkbox]:checked ~ .contact {
    opacity: 1;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
input[type=checkbox]:checked ~ .contact a {
    color:#fff;
    font-weight:400;
}
input[type=checkbox]:checked ~ .contact a:hover {
    font-weight:600;
}

.topnav {
  overflow: hidden;
  margin:auto -3% auto 1%;
}

.topnav a {
    float:right;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: .7em;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.topnav .active {
  color: #4169E1;
  background-color:transparent;
  font-weight:bold;
  text-decoration:underline;
  text-underline-position:under;
}
.topnav .icon{
    display:none;
}
@media screen and (max-width:800px) {
  .body-container {
    width:100%;
    padding-top:15%;
    font-size:.8em;
    margin-left:0%;

  }
}
/*@media screen and (max-width: 600px) {
.bodycontainer{
    width:100%;
    padding-top:15%;
    font-size:.8em;
    margin-left:1%;
}*/

b.thick {
  font-weight:bold;
}
/*h4 {
  visibility:hidden;
  display:none
}*/
.body{
    width:80%;
    margin:auto 11%;
    text-align:center;
    margin-top:-20px;
}
@media screen and (max-width:800px) {
  .body {
    width:80%;
    text-align:center;
    margin-top:0px;
  }
}
@media screen and (max-width:600px) {
  .body {
    width:80%;
    margin:1% 10% 0% 10%;
    text-align:center;
    margin-top:0px;
  }
}

@media screen and (max-width:600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

.footer{
  width:100%;
  height:30px;
  background-color:#fff;
  z-index:10;
  bottom:0;
  position:relative;
  clear:both;
  text-align:center;
  justify-content:center;
  font-size:12px;
    /*display:block;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color: transparent;
    color: #000;
    text-align: center;
    justify-content:center;
    font-size:12px;
    font-family:"work sans", sans-serif;*/
}

@media screen and (min-width:800px){
  .footer {
    margin-top:700px!important;
    width:97%;
  }
}
@media screen and (min-width:400px){
  .footer {
    margin-top:600px!important;
    width:97%;
  }
}

td {
  padding:3%
}
@media screen and (max-width:600px){
  td {
    display:block;
    width:100%;
    padding: 10% 0 5% 0!important;
  }
}

/*~~~~~~~~~~~~~~~~~SIDE NAV~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.sidenav{
    position:fixed;
    height:100%;
    width:8%!important;
    z-index:1;
    top:0;
    left:0;
    background-color:transparent;
    overflow-x:hidden;
    padding-top:200px!important;
    cursor:hand;
}
.sidenav a {
  padding:6px 8px 30px 40px!important;
  text-decoration:none;
  font-size:25px;
  color:gainsboro;
  display:block;
}
.sidenav a:hover {
  color:steelblue!important;
}
@media screen and (max-width:800px) {
  .sidenav {
    padding-top:270px!important;
  }
  .sidenav a {
    font-size:20px;
    padding:6px 8px 30px 30px!important;
  }
}
@media screen and (max-width:600px){
  .sidenav {
    width:10%!important;
    padding-top:230px!important;
  }
  .sidenav a {
    padding:6px 8px 30px 15px!important;
  }
}
@media screen and (max-width:400px) {
	.sidenav  {
		width:10%!important;
	}
  .sidenav a {
    font-size:18px;
    padding:6px 20px!important;
  }
}

li {
  text-decoration:none;
  list-style-type:none;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SCROLLING IMAGE FILL CSS */

.mainimgscroll {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
    height:400px;
    margin-top:3%;
    margin-left:1%;
    margin-bottom:-2%;
}

@media screen and (max-width:800px) {
  .mainimgscroll {
    margin-top:3%;
    margin-bottom:-5%;
    margin-left:4%;
  }
}
@media screen and (max-width:600px){
  .mainimgscroll {
    display:flex;
    height:300px;
    margin-top:auto;
    margin-left:3%;
  }
}
@media screen and (max-width:400px){
  .mainimgscroll {
    display:flex;
    height:300px;
    margin-top:auto;
    margin:left:2%;
  }
}
.mainimgscroll img {
    flex-shrink: 0;
    min-width: 80%;
    min-height: 50%;
}
picture {
  align-items:center;
  justify-content:center;
  margin-left:auto;
  display:flex;
  overflow:hidden;
}
#skyblue{
    background-color: #3FB5E5;
}
#meatbrown{
    background-color:#e5c169;
}
#jet{
    background-color:#2f5e7c;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ UNDERLINE FROM LEFT */
/*.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  color:lightsteelblue;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #000;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BOX SHADOWS */
.box {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.125, 1.125);
  transform: scale(1.125, 1.125);
}

.box:hover::after {
    opacity: 1;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SCROLL TO TOP BUTTON~~~~~~~~~~~~*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color:#717abb;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 150px;
}

#myBtn:hover {
  background-color: #555;
}
