/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;=
}

/*  COLUMN SETUP  */
.col {
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
/*.span_3_of_3 { width: 100%; height: 24vw; }
.span_2_of_3 { width: 66.13%; height: 24vw; }
.span_1_of_3 { width: 32.26%; height: 24vw; }

/*  GO FULL WIDTH BELOW 650 PIXELS */
@media only screen and (max-width: 800px) {
	.col {  margin: 3% 0% 3% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; height:250px; }
}
*/

/*~~~~~~~~~~~~~~~~~SIDE NAV~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.sidenav{
    position:fixed;
    height:100%;
    width:7%;
    z-index:1;
    top:0;
    left:0;
    background-color:transparent;
    overflow-x:hidden;
    padding-top:250px;
    cursor:hand;
}
.sidenav a {
  padding:6px 8px 15px 45px;
  text-decoration:none;
  font-size:25px;
  color:gainsboro;
  display:block;
}
.sidenav a:hover {
  color:steelblue !important;
}
@media screen and (max-width:800px) {
  .sidenav a {
    font-size:20px;
    padding:6px 8px 6px 15px;
  }
}
@media screen and (max-width:400px) {
	.sidenav  {
		width:15%;
	}
}
li {
  text-decoration:none;
  list-style-type:none;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~LAST MINUTE STYLING~~~~~~~~~~~~*/
.topnav {
	background-color:#fff;
	opacity:0.8;
}
.footer-project{
  width:100%;
  height:30px;
  background-color:#fff;
  z-index:10;
  margin-top:50px;
  position:relative;
  clear:both;
  text-align:center;
  justify-content:center;
  font-size:12px;
    /*display:block;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color: transparent;
    color: #000;
    text-align: center;
    justify-content:center;
    font-size:12px;
    font-family:"work sans", sans-serif;*/
}

@media screen and (min-width:800px){
  .footer.project {
    position:absolute;
    width:97%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FONT CSS */

#work {
    color:#fff;
    font-family: 'Karla', sans-serif;
    font-size: 100%;
    line-height:140%;
    font-weight:800;
    vertical-align:middle !important;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.125);
}
/*#work a{
    color:#000; !important;
    width:100%;
    height:auto;
}*/
.va {
  position: absolute;
    left:25%;
    top:25%;
    width:50%;
    height:50%;
  display: table;

}
.va p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GRID BOX CSS */


.container-index{
    position:relative;
		float:left;
		width:100%;
		margin-top:-1%;
		margin-left:5%;
		opacity:0.6;
		-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container-index::after {
  content: "";
	clear:both;
	display:table;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.container-index:hover {
  -webkit-transform: scale(1.125, 1.125);
  transform: scale(1.125, 1.125);
	opacity: 1;
}
.image {
	opacity:1;
	display:block;
	width:100%;
	height:auto;
	transition: .5s ease;
	backface-visibility:hidden;
}


.text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
	background-color:#c16e69
	color:white;
	font-size:16px;
	padding:16px 32px;
}
.container-index:hover .image {
	opacity:0.3;
	z-index:-999;
}


/*#kiva:hover{
    background-image: url('KivaWeb-Images/kiva-homeHover.png');
    background-repeat:no-repeat;
		background-size: cover;
    background-position:center;
    transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    background-blend-mode:soft-light;
		z-index:999;
}*/


#kivamobile{
  background:#e5c169;
    position:relative;
}

#kivamobile a:hover{
    background-image: url('KivaMobile-Images/kiva-mobile-banner-small.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    background-blend-mode: soft-light;
}

#served {
    background:#2f5e7c;
    position:relative;
}
#served:hover {
    background-image:url('ServedMobile-Images/served-banner-small.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    background-blend-mode:soft-light;
}
